.boton_rojo {
  background-color: #f40000;
  cursor: pointer;
}

.modalContent {
  text-align: center;
}

.boton_blanco {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  cursor: pointer;
}

.modalFooter {
  padding-right: 150px;
}
