@import '../variables.css';

.root {
  height: auto;
  width: 100%;
  color: white;
  text-align: center;
}

.toggle {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 48%;
}

.toggle:hover {
  cursor: pointer;
}

.label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #9e9e9e;
}

.label::before {
  content: url('./images/icono_plus.png');
  display: inline-block;
  width: 40px;
  height: 40px;
}

.collapsed {
  height: 0;
  overflow: hidden;
  transition-duration: 0.5s;
}

.toggle:checked ~ .collapsed {
  height: 320px;
  transition-duration: 0.5s;
}

.toggle:checked ~ .label::before {
  content: url('./images/icono_menos.png');
}

.container {
  max-width: var(--max-content-width);
}
